    .navy-text {
        color: navy;
    }
    
    body {
        background-color: whitesmoke;
        font-family: sans-serif;
    }
    
    .large-text {
        font-size: 40px;
    }

    .small-text {
        font-size: 16px;
    }
    
    .red-text {
        color: darkred;
    }
    
    .subhead-text {
        font-size: 28px;
    }
    
    .listhead-text {
        font-size: 24px;
        font-weight: 400;
    }
        
    li {font-size: 20px;
        font-weight: 200;
    }
    
    .leftcontents {
        list-style-type: none;
        margin: 0;
        padding: 10px 0px 0px 10px;
        width: 180px;
        position: fixed;
        overflow: auto;
    }
    
    .leftcontentslist {
        background-color: greenyellow;
        padding: 8px 8px;
        text-decoration: none;
        color: black;
        text-align: center;
        border-bottom: 1px solid black;
        border-radius: 15px 15px 15px 15px;
    }
    
    .leftcontentslist:hover {
        background-color: lightgray;
        color: black;
    }
    
    .rightjump {
        margin: 0;
        padding: 10px 10px 0px 0px;
        list-style-type: none;
        width: 180px;
        position: fixed;
        overflow: auto;
        display: block;
        right: 0;
    }
    
    .rightjumplist {
        display: block;
        background-color: greenyellow;
        padding: 8px 8px;
        text-decoration: none;
        color: black;
        text-align: center;
        border-bottom: 1px solid black;
        border-radius: 15px 15px 15px 15px;
    }
    
    .rightjumplist:hover {
        background-color: lightgray;
        color: black;
    }
    
    .activelist.active {
        background-color: forestgreen;
        color: black;
    }
    
    #a01 {
        color: black;
        text-decoration: none;
        display: block;
    }

    a:visited{
        color:blue;
    }

    p {
        margin: 0;
        padding: 0;
    }

    #p-head {
        font-weight: normal;
        color: black;
        font-size: 20px;
        text-align: justify;
    }

    #p-info {
        font-weight: normal;
        color: black;
        font-size: 18px;
        text-align: justify;
    }

    #p-s-head {
        font-weight: bold;
        color: black;
        font-size: 20px;
        text-align: justify;
    }

    #a-pdf {
        font-size: 15px;
        text-decoration: none;
    }

    /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: greenyellow;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: forestgreen;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}